.algebraic-table-container{

	width: 100%;
	overflow-x: auto;

	.algebraic-table{
		margin: 15px 0px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fbfc+0,f4f4f4+100 */
		background: #f9fbfc; /* Old browsers */
		background: -moz-linear-gradient(top,  #f9fbfc 0%, #f4f4f4 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #f9fbfc 0%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #f9fbfc 0%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fbfc', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */

		border-spacing: 10px;
		vertical-align: middle;
		border-collapse: collapse;
		box-shadow: inset 0px 1px 0px rgba( 255, 255, 255, 0.3 ),
					inset 0px -1px 0px rgba( 255, 255, 255, 0.3 ),
					inset 1px 0px 0px rgba( 255, 255, 255, 0.3 ),
					inset -1px 0px 0px rgba( 255, 255, 255, 0.3 ),
	                0px 0px 5px rgba( 0, 0, 0, 0.2 );

		&, th, td{
			border: 1px solid #E1E1E1;
		}

		td{
			text-align: center;
			padding: 5px 10px;
		}
	}
}
