html, body{
	font: bold 18px 'Helvetica Neue', 'Helvetica', sans-serif;
}

table{
	border-spacing: 10px;
	vertical-align: middle;
	border-collapse: collapse;

	&, th, td{
		border: 1px solid #dedede;
	}

	td{
		text-align: center;
		padding: 5px 10px;
	}
}
